<!DOCTYPE html>
<!-- To use thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready( function () {
            $('#dataTable').DataTable();
        } );
    </script>
    <title>Home</title>
</head>
<body style="background-color: #E5D6DE">
<div>
    <blockquote class="blockquote text-center"><h1>Автопарк</h1></blockquote>
    <table class="table table-striped" id="dataTable" data-page-length='50' data-order='[[1, "desc"]]'>
        <thead>
        <tr>

            <th scope="col" data-sortable="false">ID</th>
            <th scope="col" data-sortable="false">Марка</th>
            <th scope="col" data-sortable="true" class="priority">Год выпуска</th>
            <th scope="col" data-sortable="false">ФИО владельца</th>
            <th scope="col" data-sortable="false">Дата поставки на учет</th>
            <th scope="col" data-sortable="false">Действия</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="car: ${listCars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.mark}"></td>
            <td th:text="${car.date_of_issue}"></td>
            <td th:text="${car.name_of_owner}"></td>
            <td th:text="${car.date_of_delivery}"></td>
            <td>
                <a th:href="@{'/edit/'+${car.id}}"><button type="button" class="btn btn-outline-success">Редактировать</button></a>
                <a th:href="@{'/delete/'+${car.id}}"><button type="button" class="btn btn-outline-danger">Удалить</button></a>
            </td>
        </tr>

        </tbody>
    </table>
    <p class="text-black">
        <script type="text/javascript">
            function getRowsColumn() {
                let table = document.getElementById('1')
                let tBody = table.querySelector('tbody')
                const count = tBody.querySelectorAll('tr').length;
                document.write('Количество машин в таблице: ' + count)
            }
            getRowsColumn()
        </script>
    </p>
    <blockquote class="blockquote text-center">
        <a href="/new">
            <button type="button" data-togge="button" aria-pressed="false" autocomplete="off"
                    class="btn btn-success btn-lg disabled">
                Добавить машину
            </button>
        </a>
    </blockquote>
    <div style="alignment: center">
        <canvas style="margin: 0 auto" id="barChart"></canvas>
    </div>
</div>
<script th:inline="javascript">
    let cars = [[${ listCars }]];
    let issue = cars.map((car) =>new String(car.date_of_issue).slice(0,4));
    let labels = Array.from(new Set(issue)).sort()
    let data = labels.map((label)=>issue.filter((issue)=>issue==label).length)
    const ctx = document.getElementById('barChart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Количество машин в автопарке',
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
            }]
        },
        options: {
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize:1
                    }
                }]
            }
        }
    });
</script>
</body>
</html>